<!-- templates/base.html -->
{% load static %}
<!doctype html>
<!-- templates/base.html -->
<html lang="en">
  <head>
	  <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	  <title>MyCodeRide</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Corben&display=swap" rel="stylesheet">
	  <link rel="stylesheet" href="{% static 'css/base.css' %}">
	  <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
  </head>
	  <body>
		<header>
			<h1 class="logo">
			  my_code_ride.*
			  <span class="camel-icon"></span>
			</h1>
				<nav class="navigation_menu">
					<a href="{% url 'home' %}">home</a>
					<a href="{% url 'this' %}">thissite</a>
					<a href="{% url 'game' %}">game</a>
					<a href="{% url 'meteo' %}">meteo</a>
					<a href="{% url 'scraping' %}">scraping</a>
					<a href="{% url 'news' %}">news</a>
				</nav>
		</header>
		<div>
			{% block content%}
			{% endblock content %}
		</div>
		<footer>
		    <p>
		        <script>
		            now = new Date();
		            year = now.getFullYear();
		            document.write("Copyright © " + year + " My Code Ride/coderide.eu");
		        </script>
		    </p>
		</footer>
	  </body>
</html>