{% extends "base.html" %}
{% load static %}
<!doctype html>
<!-- templates/home.html -->
  <head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="{% static 'css/base.css' %}">
  </head>  	

	{% block content %}
	  <header>
	  	<h1 class="main">about</h1>
	  </header>
	  <article>
	  	<header>
	  		<h2>Welcome to My Learning Journey</h2>
	  	</header>
	  	<section>
  			<p>Welcome to the digital representation of my coding voyage. As you explore this site, you'll see the results of my extensive efforts in mastering Python, Tkinter, Django, HTML, CSS, JavaScript, SQL, and numerous Python libraries, including advanced machine learning techniques with Scikit-Learn, deep learning frameworks such as TensorFlow, PyTorch and Keras, data manipulation and analysis with Pandas and NumPy, data visualization with Matplotlib and Seaborn, and web scraping with BeautifulSoup and Selenium, all of which I have delved into during my Code Academy AI course.</p>
	  	</section>
	  	<section>
	  		<header>
	  			<h3>Showcasing Progress</h3>
	  		</header>
  			<p>This site features eight distinct applications, each demonstrating my growing proficiency in coding and the diverse skillset I've developed. These applications are more than just projects; they are milestones that reflect my dedication, perseverance, and passion for programming.</p>
  	</section>
	  	<section>
	  		<header>
	  			<h3>Continuous Learning</h3>
	  		</header>
  			<p>My approach to learning extends beyond formal education. I have completed the comprehensive Code Academy AI course, which significantly deepened my understanding of Python and artificial intelligence. In addition to this, I actively use alternative learning platforms such as Udemy, W3Schools, and Kaggle. Books also play a crucial role in my education, providing a structured foundation and allowing for easy reference and in-depth study.</p>
	        <img src="{% static 'images/12_home.jpg' %}" alt="Photo of stack of books">
	        <figcaption>Captured above: A stack of treasured books that have been instrumental in my learning process.</figcaption>
	  	</section>
	  	<section>
	  		<header>
	  			<h3>Gratitude and Acknowledgments</h3>
	  		</header>
  			<p>I owe a great deal of my progress to the incredible resources available online. From free tutorials and videos to paid courses and articles, the collective knowledge shared by countless educators and experts has been invaluable. I extend my heartfelt thanks to all who contribute to these resources, as their generosity and dedication have profoundly impacted my learning journey.</p>
	  	</section>
	  </article>
	{% endblock content %}