{% extends "base.html" %}
{% load static %}
<!doctype html>
<!-- templates/home.html -->
  <head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="{% static 'css/pages.css' %}">
  </head>  	

	{% block content %}
	  <header>
	  	<h1 class="main">about</h1>
	  </header>
	  <article>
	  	<header>
	  		<h2>Welcome to My Learning Journey</h2>
	  	</header>
	  	<section>
  			<p>Welcome to the digital representation of my coding voyage. As you navigate through this site, you'll witness the results of my early endeavors in understanding Python, Tkinter, Django, HTML, CSS, JavaScript, SQL and a lot of python libraries. Given that this is the nascent phase of my learning curve, you might notice areas for improvement - rest assured, as I delve deeper into the coding world, the code will evolve and better itself.</p>
	  	</section>
	  	<section>
	  		<header>
	  			<h3>Showcasing Progress</h3>
	  		</header>
  			<p>Encapsulated within this web platform are four distinct apps, each a testament to my evolving coding proficiency and a glimpse into the skillset I've amassed so far. These aren't just mere applications but symbols of progression, perseverance, and passion.</p>
  			<p>However, a gentle reminder - this website is primarily a personal learning project. Its creation wasn't to garner a wide audience but to provide a hands-on experience and a reflection of my growth in coding.</p>
  	</section>
	  	<section>
	  		<header>
	  			<h3>My Learning Arsenal</h3>
	  		</header>
  			<p>My quest for knowledge isn't just restricted to online tutorials or dedicated websites. Books have been an indispensable part of my learning journey. Their systematic approach offers a perspective of strong foundation. While I've predominantly transitioned to reading electronic books for both fiction and non-fiction over the past decade, there's something distinctively convenient about coding books in paper format. The ability to swiftly skim through pages, reference back and forth with ease, and the clarity of layouts makes them a preferred choice for laying a good systematic knowledge base. Nonetheless, it's the content that truly matters, irrespective of the format.</p>
	        <img src="{% static 'images/12_home.jpg' %}" alt="Photo of stack of books">
	        <figcaption>Captured above: A stack of treasured books that have been instrumental in my learning process.</figcaption>
	  	</section>
	  	<section>
	  		<header>
	  			<h3>A Gratitude Note</h3>
	  		</header>
  			<p>Midway through my coding adventures, I was introduced to ChatGPT-4. Its arrival was nothing short of serendipity. As an invaluable assistant, educator, and coding companion, ChatGPT-4 has truly elevated my learning experience.</p>
  			<p>Moreover, a heartfelt thank you to the dedicated coders, streamers, and countless individuals who generously share their knowledge, both for free and through paid mediums. Your guidance, insights, and persistent endeavors to disseminate knowledge have been instrumental in shaping my coding journey. Your contributions to the community are immeasurable and deeply appreciated.</p>
	  	</section>
	  </article>
	{% endblock content %}